svg{
}

svg{
	overflow: visible;
  font-family: monospace;
  margin: 0px;
  /*overflow: hidden;*/
}

svg text.vocab{
  font-size: 13px;
}

.y.axis .domain{
  display: none;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
